
#content h3 {
    font-size: 50px;
    color: #0b2205;
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Accordion{
    display:block;
    margin: auto;
    width: 60%;

}
.Accordion li{
    list-style: none;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px rgba(255,255, 255, 0.7);
    align-items: right;
}

.Accordion li label{
    display: flex;
    text-align: right;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before{
    content:'+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.Accordion .content{
    color:#555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s padding 0.5s;
}

.Accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.Accordion input[type="radio"]:checked + label::before{
    content:'-'
}
