body{
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar {
    background-color: #051622;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    margin: 0;
    padding: 0 20px;
}

.navbar-logo img {
    height: 60px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 1px;
}

.navbar-menu li a {
    color: #F6FB7A;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar-menu li a:hover {
    background-color: #575757;;
    border-radius: 4px;
}

.footer {
    background-color: #a1a1a1;
    color: #1A3636;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #051622;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer a {
    color: #051622;
    margin: 0 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.footer img {
    border: 1px;
    width: 20px;
    height: 20px;
}